*{
    margin: 0;
}

.main1 {
    width: 27%;
    height: 40px;
    border: 1px solid black;
    float: left;
    margin-left: 60px;
    margin-top: 20px;
}


.main2 {
    width: 27%;
    height: 350px;
    border: 1px solid black;
    float: left;
    margin-left: 40px; 
    margin-top: 20px;
}


.header1 {
    background-color:white;
}


.book {
    padding-left: 60px;
    /* margin-top: 50px; */
}